@forward "./base";
@forward "./nord";

.light {
    @extend %base;
    @extend %nord;

    --bg: var(--nord6);
    --bg-block: var(--nord5);
    --bg-block--highlight: var(--nord4);
    --bg-chat: var(--nord6);

    --color: var(--nord4a);
    --color-lighter: var(--nord4b);

    --message-bg--me: #C7D7E8;
    --message-bg--friend: #ffffff;
    --message-color: black;

    /* default variables for the default btn */
    --btn-bg: var(--nord4);
    --btn-color: var(--nord7);

    --offline: var(--nord4b);

    --bg-userlist--active: var(--nord4);
    --bg-userlist--hover: var(--nord4c);
}
