.changestatusdialog {
    // background-color: rgba(var(--dialog-bg));
    background-color: black;
    position: absolute;
    left: 4.5rem;
    top: 0.5rem;
    border-radius: calc(var(--radius) /2);
    padding: 0.2rem;
    z-index: 1;
    backdrop-filter: blur(2px);
    font-size: 1rem;
    // left: 10px;
}

.changestatusdialog__list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.changestatusdialog__list__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    // color: var(--dialog-color);
    color: white;
    border-radius: calc(var(--radius) /2);
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    &:hover {
	// color: var(--color);
	// background-color: var(--dialog-bg--hover);
	background-color: var(--aurora--blue);
	transition: background-color .1s ease-in;
    }
}


.changestatusdialog__online {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 100%;
    margin-right: 0.5rem;
    background-color: var(--online);
}

.changestatusdialog__offline {
    @extend .changestatusdialog__online;
    background-color: var(--offline);
}

.changestatusdialog__away {
    @extend .changestatusdialog__online;
    background-color: var(--away);
}

.changestatusdialog__dnd {
    @extend .changestatusdialog__online;
    background-color: var(--do-not-disturb);
}
