.contextmenu__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: calc(var(--radius) /2);

    &:hover {
        background-color: var(--nord1);
        transition: background-color .1s ease-in;
        cursor: pointer;
    }

    // icon
    svg {
        height: 1rem;
        width: 1rem;
    }
}

.contextmenu__item--red {
    color: #ed4245;
}

