.modal {
    /* the background of the modal window */
    position: absolute;
    backdrop-filter: blur(5px) brightness(0.8);
    height: 100vh;
    width: 100vw;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.modal__window {
    /* the modal window */
    position: relative;
    color: var(--color);
    background-color: var(--bg-block);
    border: 1px solid var(--bg);
    border-radius: 10px;
    padding: 1rem;
    font-family: interface;
    animation: modal-grow .2s;
    max-height: 95vh;
    max-width: 95vw;
}

.modal__title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.modal__content {
    font-size: 1rem;
    text-align: justify;
    color: var(--color-lighter);
}

@keyframes modal-grow {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
