.start {
    // position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: interface;
    background-color: var(--nord1);
    overflow: hidden;
}

.start__form {
    z-index: 1;
    width: 38rem;
    padding: 1rem;
    background-color: var(--bg-block);
    border-radius: 10px;
}

.start__form__changeview {
    color: var(--aurora--blue);
    text-decoration: underline;
    cursor: pointer;
    margin-left: 0.5rem;
}
