$tooltipbg: black;

.tooltip {
    position: relative;
    font-family: interface;
    display: flex;
    justify-content: center;
    animation: tooltip .1s ease-in;
    /* MAKE TOOLTIP VISIBLE */
    &:hover .tooltip__description {
        display: inline-block;
    }
    &:hover .tooltip__arrow {
        display: inline-block;
    }
}

.tooltip__description {
    display: none;
    z-index: 4;
    position: absolute;
    width: fit-content;
    font-size: 0.9rem;
    background-color: $tooltipbg;
    color: #fff;
    text-align: center;
    padding: 0.2rem .5rem;
    border-radius: 6px;
    bottom: -2rem;
    // animation: tooltip .1s ease-in;
}

.tooltip__arrow {
    display: none;
    z-index: 4;
    position: absolute;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent $tooltipbg transparent;
    bottom: -0.5rem;
    // animation: tooltip .1s ease-in;
}

@keyframes tooltip {
    from {
        transform: scale(0);
        // opacity: 0;
    }
    to {
        transform: scale(1);
        // opacity: 1;
    }
}
