@use "../../sass/props/item";
@use "../../sass/props/avatar";

.frienditem {
    @extend %item;
    cursor: pointer;
    &:hover {
        .frienditem__name {
            color: var(--color);
        }
    }
}

.frienditem__name {
    font-size: 1rem;
    color: var(--color-lighter)
}

.frienditem__pic {
    @extend %avatar;
    border: var(--avatar-border) solid gray;
}
