.connectionlostindicator {
    z-index: 1;
    position: absolute;
    bottom: 1rem;
    left: 1rem;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    padding: 0.5rem;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    font-size: 1rem;

    animation: spawn_connectionlostindicator 2s infinite;
}

.connectionlostindicator__icon {
    width: 1.5rem;
    height: 1.5rem;
    filter: opacity(0.5);
}

@keyframes spawn_connectionlostindicator {
    0% {
	filter: opacity(0.0);
    }
    50% {
	filter: opacity(1);
    }
    100% {
	filter: opacity(0.0);
    }
}
