@use "../../sass/props/block";

.dashboard {
    @extend %block-element;
    display: grid;
    grid-template-rows: 4.5rem auto;
    padding: 0.7rem;
}

.dashboard__header__title {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 1.5rem;
    svg {
        height: 30px;
        width: 30px;
        margin: 0 0.5rem
    }
}

.dashboard__content {
    display: grid;
    grid-template-rows: 24rem auto;
    grid-gap: 1rem;
}

.dashboard__content__hybaspace {
    width: 100%;
}

.dashboard__content__timeline-and-blog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    // flex-wrap: wrap;
}



