.mosaictile {
    position: relative;
    overflow: hidden;

    flex-basis: 100px; /* this need to be some value so that grow will work correctly */
    flex-grow: 1;
    height: min(100%, 800px);
    max-height: 500px;
    max-width: 500px;

    /* center <img> or <video> */
    display: flex;
    align-items: center;
    justify-content: center;

    border: 3px solid transparent; /* adding border because without the elemnts would jiggle */
    // border: 3px solid var(--aurora--blue); /* speaking indication */
    border-radius: var(--radius);
    background-color: #000;
    cursor: pointer;
}

.mosaictile--focused {
    max-height: unset;
    max-width: unset;
    height: 100%;
}

.mosaictile--hide {
    display: none;
}

.mosaictile__nametag {
    // Make indicator to the top right of the frame 
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    // align text & icon
    display: flex;
    align-items: center;
    height: 1rem;
    font-size: 1rem;
    // styles
    color: var(--aurora--blue);

    background-color: #000; 
    border-radius: calc(var(--radius) / 2);
    padding: 0.2rem;
    filter: opacity(0.8);

    svg {
	display: none;
	stroke: var(--aurora--blue);
    }

    // TEST for when participent is speaking
    &:hover {
	svg {
	    display: inline-block;
	}
    }
}
