.profilesettings {
    background-color: var(--bg-block);
    font-family: interface;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
}

.profilesettings__header {
    display: flex;
    align-items: center;
    background-color: transparent;
    margin: 0 0 1rem 0;
}

.profilesettings__header__profilepic {
    position: relative;
}

.profilesettings__header__profilepic__img {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    margin-right: 1rem;
    cursor: pointer;

    &:hover {
	filter: brightness(.8);
	transition: filter .2s ease-in;
    }
}

.profilesettings__header__profilepic__changeimagebtn {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 5px;
    bottom: -5px;

    // border-radius: calc(var(--radius) /2);
    border-radius: 100%;
    padding: 0.35rem;
    height: 40px;
    width: 40px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .6);

    &:hover {
	background-color: rgba(0, 0, 0, 1);
	transition: background-color .2s ease-in;
    }

    svg {
	stroke: var(--nord4);
	// stroke: var(--aurora-color);
	height: 100%;
	width: 100%;

    }
}

.profilesettings__header__username {
    font-weight: 800;
    font-size: 1.5rem;
}

.profilesettings__section {
    border-radius: 10px;
    background-color: var(--bg-block);
}

.profilesettings__section__item {
    padding: 1rem;
    header {
        font-size: 1.1rem;
        color: var(--color-lighter);
    }
    section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* User Information  */
        span {
        }
    }
}
