@use "./selectable";

$btn-radius: 10px;
$btn-padding: 1rem;

.btn {
    @extend .unselectable;
    border-radius: var(--radius);
    border: none;
    color: var(--btn-color);
    background-color: var(--btn-bg);
    padding: $btn-padding;
    font-size: 1rem;
    cursor: pointer;
    opacity: 1;
    transition: opacity .2s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        filter: brightness(1.03);
        transition: filter .2s ease-in;
    }

    &:active {
        transform: scale(0.98);
    }

    &:focus {
        outline: none;
    }

    &:disabled {
	opacity: 0.3;
	transition: opacity .2s ease-in;
	cursor: default;
    }
}


/* only the default button should be set to .btn--active when active */
.btn--active {
    @extend .btn;
    background-color: var(--aurora--blue);
    color: var(--aurora-color);
}

.btn--primary {
    @extend .btn;
    // background-color: var(--aurora--purple);
    // color: var(--aurora-color);
    background-color: var(--aurora--blue);
    color: var(--aurora-color);
}

.btn--success {
    @extend .btn;
    background-color: var(--aurora--green);
    color: var(--aurora-color);
}

.btn--warning {
    @extend .btn;
    background-color: var(--aurora--orange);
    color: var(--aurora-color);
}

.btn--error {
    @extend .btn;
    background-color: var(--aurora--red);
    color: var(--aurora-color);
}

.btn--with-svg {
    svg {
	margin-right: 0.5rem;
	width: 1.1rem;
	height: 1.1rem;
    }
}

.full-width {
    width: 100%;
}
